.today-forecast {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(90px, 100px));
  
    padding: 1em 0;
  
    .widget {
      width: 100px;
      height: 150px;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }