<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field>

      <input type="text" matInput placeholder="Email" formControlName="username">
      <mat-error *ngIf="form.controls['username'].hasError('email') && !form.controls['username'].hasError('required')">
        Por favor ingrese un Email válido
      </mat-error>
      <mat-error *ngIf="form.controls['username'].hasError('required')">
        Email es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Password es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <!-- <p *ngIf="error" class="error">
    
  </p> -->

  <div class="button">
    <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid || loading"><span *ngIf="!loading">Login</span>  <mat-icon *ngIf="loading"><mat-spinner diameter="20">
    </mat-spinner></mat-icon></button>
  </div>

</form>
</mat-card-content>
</mat-card>
