<main>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Ingresar Ciudad</mat-label>
        <input matInput type="text" autocomplete="home city" #city (keydown.enter)="find()">
        <button matSuffix mat-icon-button (click)="find()">
          <mat-icon>input</mat-icon>
        </button>
      </mat-form-field>
<mat-tab-group>
    <mat-tab label="Hoy">
      <app-card-now [current]="current"></app-card-now>

    </mat-tab>
      <mat-tab label="Próximas 24 hs">
        <app-card-hourly [hourly]="hourly"></app-card-hourly>

    </mat-tab>
    <mat-tab label="Semanal">
      <app-card-daily [dailyWeather]="daily"></app-card-daily>
    </mat-tab>
</mat-tab-group>
</main>